[Desktop Entry]
Version=0.9.4
Type=Application
Name=Conky Network Monitor
Name[ja]=ネットワークモニター
Comment=Monitor network download and upload rates with conky.
Comment[ja]=ネットワークの下り、上がりをコンキーで表示する。
Exec=conky-netmon
StartupNotify=false
Terminal=false
Hidden=false
OnlyShowIn=XFCE;
