[Desktop Entry]
Version=0.9.4
Type=Application
Name=Conky System Monitor
Name[ja]=システムモニター
Comment=Monitor RAM and CPU usage with conky.
Comment[ja]=メモリーとプロセッサーの使用をコンキーで表示する。
Exec=conky-sysmon
StartupNotify=false
Terminal=false
Hidden=false
OnlyShowIn=XFCE;
