[Desktop Entry]
Version=0.9.4
Type=Application
Name=Start Composition
Name[ja]=合成をスタート
Comment=start the crunchbang composition
Comment[ja]=クランチバングの合成をスタートさせます。
Exec=cb-compositor-start
StartupNotify=false
Terminal=false
Hidden=false
OnlyShowIn=XFCE;
